@model List<QLDatVeMayBay.Models.ChuyenBay>
@{
    var thongTin = (QLDatVeMayBay.Models.TimKiemChuyenBay)ViewBag.ThongTin;
}

<div class="container my-4">
    <h2 class="text-center mb-4">✈️ Kết quả chuyến bay </h2>

    <table class="table table-bordered table-hover shadow rounded">
        <thead class="table-primary text-center">
            <tr>
                <th>Hãng Hàng Không</th>
                <th>Loại máy bay</th>
                <th>Sân bay đi</th>
                <th>Sân bay đến</th>
                <th>Giờ cất cánh</th>
                <th>Giờ hạ cánh</th>
                <th>Giá vé</th>
                <th>Tình trạng</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cb in Model)
            {
                <tr class="align-middle text-center">
                    <td>@cb.MayBay?.TenHangHK</td>
                    <td>@cb.MayBay?.LoaiMayBay?.MoTa</td>
                    <td>@cb.SanBayDiInfo?.TenSanBay</td>
                    <td>@cb.SanBayDenInfo?.TenSanBay</td>
                    <td>@cb.GioCatCanh.ToString("HH:mm dd/MM/yyyy")</td>
                    <td>@cb.GioHaCanh.ToString("HH:mm dd/MM/yyyy")</td>
                    <td>@cb.GiaVe.ToString("N0") VND</td>
                    <td>
                        @if (cb.TinhTrang == "Đang mở bán")
                        {
                            <span class="badge bg-success">Đang mở bán</span>
                        }
                        else
                        {
                            <span class="badge bg-secondary">@cb.TinhTrang</span>
                        }
                    </td>
                   
                </tr>
            }
        </tbody>
    </table>
</div>
